body {
    font-family: Arial, sans-serif;
    background-color: #f3e5f5;
    color: #4a148c;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #ba68c8;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #ab47bc;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #8e24aa;
    border-radius: 5px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #e1bee7;
    border-radius: 8px;
}

h1, h2 {
    color: #6a1b9a;
}
.centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* İsteğe bağlı olarak tam sayfa ortalamak için */
}

